<% layout("/layout/boilerplate.ejs") %>
<body>
    <form action="/listing/<%= listing._id %>?_method=put" method="post">
        <div class="row">
            <div class="col-8 offset-2 mt-3">
                <h3>Edit your listing</h3>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" type="text" placeholder="Enter title" value="<%= listing.title %>" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" cols="20" rows="5" class="form-control"><%= listing.description %></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image URL</label>
                    <input name="listing[image]" type="text" value="<%= listing.image.url %>" class="form-control">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" type="number" value="<%= listing.price %>" class="form-control">
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input name="listing[location]" type="text" value="<%= listing.location %>" class="form-control">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" type="text" value="<%= listing.country %>" class="form-control">
                </div>
                <button type="submit" class="btn btn-dark add-btn">Edit</button>
            </div>
        </div>
    </form>
</body>
</html>
